#content{
    max-width: 1600;
    margin: 0 auto;
}

footer{
    background-color: #49111C;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #D8A7CA;
    text-decoration: none;
}
footer a:hover{
    color: white;
    text-decoration: none;
}

.logo{
    width: 50%;
    padding: 5%;
}
header{
    background-color: #49111C;
    display: grid;
    grid-template-columns: 100px auto;
}
nav a:hover{
    background-color: #D8A7CA;
    color: white;
}
nav a{
    text-align: center;
    color: #D8A7CA;
    text-decoration: none;
    padding: 15px;
    align-self: center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.main-top{
    display: grid;
    grid-template-columns:  repeat(11, 1fr);
}


